* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --my-color: #000;
    --my-bg: #fff;
}

body {
    background-color: var(--my-color);
    color: var(--my-bg);
    height: 100vh;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.left, .right {
    display: flex;
    gap:15px
}

.contents textarea {
    padding: 15px;
    width: 100%;
    background-color: rgb(12, 12, 12);
    outline: none;
    border: none;
    color: #fff;
}